body {
  background-color: white;
  color: rgb(25, 31, 40);
  margin: 0;
  font-family: 'Sen', sans-serif;
  line-height: 1.2;
}


/* ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #a758ff;
  flex-flow: row nowrap;
  position: fixed;
  z-index: 1;
}

.logo {
  margin-left: 20px;
}

#image-logo {
  height: 60px;
}

.login-signup {
  margin-right: 20px;
}

.search {
  padding: 8px;
  width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(9, 10, 10, 0.15) 0px 1px 2px 0px;
}

.search-clicked {
  border: 1px solid #a758ff;
}

.location {
  display: flex;
  align-items: center;
}

.location-text {
  padding: 0px 8px;
  display: flex;
  height: 20px;
  color: rgb(76, 87, 108);
}

#sort-down {
  height: 24px;
}

.input-search {
  padding: 0px 8px;
  font-size: 16px;
  border: medium none;
  outline: none;
  background-color: white;
  width: 90%;
}

.sign-up-button, .login-button {
  font-weight: bold;
  background-color: white;
  color: inherit;
  border: 1px solid #a758ff;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
} 

.sign-up-button:hover {
  background-color: #a758ff;
  color: white;
  transition: 0.3s;
}

.login-button  {
  border: none;
  background-color: transparent;
}

#icon-search {
  color: #a758ff;
}

/* ESTILIZAÇÃO DA SEÇÃO DE CARDS  */
.container-collection-card {
  background-color: white;
  padding: 130px 0px 14px;
}

.container-collection-card-title-icons {
  max-width: 1176px;
  display: flex;
  margin: 0px auto;
  padding: 0px 24px;
  -moz-box-align: center;
  align-items: center;
  border: 0px none;
}

.container-collection-card-title {
  font-size: 20px;
  font-weight: 700;
  flex: 2 1 auto;
  line-height: 1.5;
  width: auto;
  margin: 0;
}

.fa-circle-chevron-left, .fa-circle-chevron-right {
  width: auto;
  color: #cca7f7;
  font-size: 22px;
}

.icon-clicked {
  color: #a758ff;
  cursor: pointer;
}


/* CARDS */
.container-card-and-text {
  display: flex;
  justify-content: space-between; 
  gap: 30px; 
  overflow: hidden;
  scroll-behavior: smooth;
}

.container-move {
  display: flex;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 42px;
  padding: 0px 58px;
  overflow: hidden;
  max-width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 120px;
  text-align: center;
  opacity: 90%;
  transition: 0.5s;
  transform: translateX(0);
}

ul:hover {
  opacity: 100%;
}

.image-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-card {
  transition: 0.5s;
}

.image-grow{
  border-radius: 50%; 
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.image-card { 
  width: 120px;
  height: 120px;
}

.title-card {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* ESTILIZAÇÃO DO SLIDESHOW */

.container-slideshow {
  background-color: white;
  padding-bottom: 30px;
}

.container-slideshow-title {
  display: flex;
  max-width: 1176px;
  padding: 0px 24px;
  margin: 0px auto;
}

.slideshow-title {
  font-size: 20px;
  font-weight: 700;
  width: auto;
  line-height: 1.5;
  flex: 2 1 auto;
  margin: 0px;
}

/* SLIDES */
.slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.slides {
  display: flex;
  width: 800px;
  height: 450px;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 8px;

}

.radio-buttons input {
  display: flex;
  width: 400%;
  height: 400px;
  display: none;
  
}

.slide {
  width: 25%;
  position: relative;
  
}

.slide img {
  width: 800px;
  border-radius: 12px;
}

.manual-navigation {
  width: 800px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  display: flex;
  border: 2px solid rgb(179, 179, 180);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  align-items: center;
  justify-content: center;

}

.manual-btn-clicked {
  border: 2px solid #a758ff;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.container-slides {
  display: flex;
  margin: 24px auto;
  height: 450px;
  
}